/* Old Numberlist

.numberslist{
  cursor: pointer;
  font-size: 20px;
  line-height: 2em;
  border: 2px solid rgba(0,0,0,0.1);
  transition: all 100ms ease-in;
  position: relative;
  height: 5vw;
  width: 5vw;
  min-width: 55px;
  min-height: 55px;
  line-height: 40px;
  display: inline-block;
  border-radius:5px;
  margin: 2px;

}
.numberslist p{
  margin: 5px 0px;
}
.numberslist:hover p{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1.2,1.2);
  transform-origin: 50% 50%;
  color: white;
}
.numberslist .numbercircle{
  position: absolute;
  right:0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transform: scale(0,0);
  opacity: 1;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
}
.numberslist:hover .numbercircle{
  transform: scale(1,1);
  opacity: 1;
}

*/
.lotterybg{
  background: url(lotterybg.jpg);
  background-size: cover;
  background-position: center;
}

.rowbox {
  height: 240px;
  width: 240px;
  background: #fff5fd;
  border: 3px solid deeppink;
  display: inline-block;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.7);

}

.rownumber{
  font-size: 28px;
  font-weight: bold;
  color: #fff5fd;
  background: deeppink;
  display: inline-block;
  height: 15.9%;
  width: 32.6%;
  margin-left: 2px;
  margin-top: 2px;
  vertical-align: top;
  text-align: center;
}
.rownumber.complete{
  background: green;
}

.numberslist{
  border: 1px solid deeppink;
  color: deeppink;
  margin: 2px;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 2em;
  height: 14.9%;
  width: 14.9%;
  display: inline-block;
  position: relative;
  border-radius: 2px;

}
.numberslist .numbercircle{
  position: absolute;
  right:0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  transform: scale(0,0);
  opacity: 1;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
}
.numberslist:hover .numbercircle{
  transform: scale(1,1);
  opacity: 1;
}
.numberslist:hover p{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1,1);
  transform-origin: 50% 50%;
  color: white;
}

.selectednumber{
  height: 40px;
  width: 40px;
  line-height: 40px;
  background: red;
  transition: all 100ms linear;
  border-radius: 50%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  transform: scale(1.2,1.2);
  transform-origin: 50% 50%;
  color: white;
  margin: 8px;
  padding: 0px !important;
  display: inline-block;
  cursor: pointer;
}
.selectednumber:hover{
  box-shadow: inset 0px 0px 30px black;
}

.crossed{
  position: absolute !important;
  color: black;
  height: 100%;
  width: 100%;
  line-height: inherit !important;
  text-align: center !important;
  top: 0px !important;
  left: 0px;
  font-size: 32px;
  visibility: hidden;
  transform: scale(2);
  opacity: 0;
  transition: all 200ms ease-out;
}
.crossed.pickednumber{
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  color: black;

}

.resetbutton{
  margin-top:10px;
  width: 100%;
}
.numberlist.pickednumber{
  background: #ff008a;
  color: white;
  font-weight: bold;
  transition: all 300ms linear;
}
.reveal{
  transform: scale(2);
}
.mail-input{
  margin-top: 10px;
  width: 90% !important;
  display: inline-block !important;
  vertical-align: middle;
}
.validate-mail{
  height: 34px;
  width: 34px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 28px;
  margin-top: 10px;
  line-height: 34px !important;
  text-shadow: 0px 0px 1px black;
}
.validate-mail.red{
  color: red;
}
.validate-mail.green{
  color: green;
}
.half{
  width: 52% !important;
}
.small_submit{
  width: 40% !important;
  margin-left: 10px !important;
}
